  <div class="row mx-4">
    <p><strong><%= comment.commented.name %></strong></p> 
  </div>
  <div class="row mx-5">
    <div class="col-10">
      <div class="row">
        <p><strong></strong><%= comment.title %></p>
      </div>
  </div>
  <div class="col-2">
    <% if comment.commented_id == current_user.id %>
     <% if comment.commentable_type=="Campaign" %>
        <%= link_to "Delete Comment", [@campaign,comment],id:"action_delete",method: :delete, data: { confirm: "Are you sure?" } %> 
          <% else %>
        <%= link_to "Delete Comment", [@campaign,@discussion_topic,comment],id:"action_delete",method: :delete,data: { confirm: "Are you sure?" } %> 
     <% end %>
  <% end %>
  </div>
</div>

  