<div class="card">

  <div class="card-head" style= "background-color: #128496;" >
    <h2>Generate Campaign</h2>
  </div>
  
  <div class=" card-body">
    <%= render 'form', campaign: @campaign %>  
  </div>
</div>

